* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

}

body {
  background-color: darkorange;

  min-height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

#container {
  background-color: white;

  width: 85%;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

}